
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

-sipariş durumu kısmında progress bar kullan
-Bütün sayfaların üst kısmını ürün listesininki gibi yap
-front tarafında gösterilen ürün listesinin kodlarını yöneticilerdekiyle bi karşılaştır. flex tasarım benzesin biraz öyle olsun